{% extends "base.html" %}

{% block width %}70{% endblock %}

{% block content %}
<br><br>
<section class="vh-100">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="notification is-{{ category }}">
                    <center>{{ message }}</center>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  <div class="container-fluid">
    <br><br><br><br>
    <div class="row">
      <div class="col-sm-6 text-black">

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

          <form style="width: 23rem;" action="/verify" method="POST">

            <h3 class="h1 fw-bold mb-0" style="letter-spacing: 1px;">Log-in</h3>
            <br><br>

            <div class="form-outline mb-4">
              <input type="text" id="form2Example18" name="username" class="form-control form-control-lg" placeholder="Username" />
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="form2Example28" name="password" class="form-control form-control-lg" placeholder="Password" />
            </div>

            <div class="pt-1 mb-4">
              <button class="btn btn-info btn-lg btn-block" type="Submit">Log-in</button>
            </div>
            <p>Don't have an account? <a href="/register" class="link-info">Register here</a></p>

          </form>

        </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <center>
            <img src="https://www.shutterstock.com/image-illustration/empty-airport-terminal-lounge-airplane-260nw-758602234.jpg" alt="Login image" style="object-fit: cover; object-position: 20% 100%;">
        </center>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block css %}
.bg-im.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}
{% endblock %}
