<!DOCTYPE html>
<h1> Register </h1>
    <form action = "/registrate" method = "POST">
        <h3><label> Username:</label></h3>
        <input type="text" name="createusername" minlength="3" required> <br>
        <h3><label> Password:</label></h3>
        <input type="password" minlength="5" name="createpassword" required> <br>
        <input type="submit" name="createpassword" value="Create account">
    </form> <br> 
    {{message}}
    <form action="/">
        <input type="submit" value="Back to homepage">
      </form>
</html>